@{
    ViewData["Title"] = "Home Page";
}


<article class="col-md-9 content-interior mx-auto" id="contenido">
    <img src="https://www.bancoatlantida.com.sv/home-sections/img/BAES23_JUNIIO_BANNER%20WEB_1080X367-01.jpg" class="img-fluid rounded" alt="bienvenido">
    <hr>
    <p class="lead">Banco Atlántida, una institución centenaria con presencia regional, brinda soluciones financieras en Banca de Personas, Empresas y Pyme mediante su red de agencias y servicios digitales en El Salvador desde 2017.</p>
    <hr>
</article>